{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}About {% endblock %}</h1>
    <h2>Authentication Service using Bio-Hash</h2>
	<div class='container'>
        <h2>Author: <i><b> Ankur Dhakar</b></i></h2>
        <table style="width:30%">
            <tr>
                <th>Tech Stack Used:-</th>
            </tr>
            <tr>
                <td>Python3</td>
            </tr>
            <tr>
                <td>Flask (Web Framework)</td>
            </tr>
            <tr>
                <td>SqliteDB</td>
            </tr>
            <tr>
                <td>Pymongo</td>
            </tr>
            <tr>
                <td>PyCryptoDome (AES Enc-Dec)</td>
            </tr>
            <tr>
                <td><b>bio_auth</b> (Custom Module)</td>
            </tr>
            <tr>
                <td>PyJWT</td>
            </tr>
            <tr>
                <td>Pillow</td>
            </tr>
            <tr>
                <td>ImageHash</td>
            </tr>
            <tr>
                <td>HMAC</td>
            </tr>
            <tr>
                <td>Hashlib</td>
            </tr>
            <tr>
                <td>Pytz</td>
            </tr>
        </table>        
	</div>

{% endblock %}
