{% extends 'base.html' %}
<title>{% block title %}Add New Server{% endblock %}</title>

{% block content %}
    <h2>Add New Server</h2>
    <div id="form">
        <form class="modal-content animate" action="/auth/add_servers" method="post" enctype="multipart/form-data">
            <div class="container">
                <label for="server"><b>Server</b></label>
                <input type="text" placeholder="Enter Server URI" name="server" id="server" required>
                <br>
                <button type="submit" id="button"><b>Add Server</b></button>
            </div>
        </form>
        <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="dashboard"><b>Go to Dashboard</b></button>
        </div>
    </div>
{% endblock %}