<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">   
    <link rel="icon" href="data:,">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <!-- Horizontal Nav bar -->

    <ul class="list">
        <li {% if request.endpoint == "index" %} class="active" {% endif %}><a  href="/">Home</a></li>
        
        {% if not session['user']  %}
            <li {% if request.endpoint == "login" %} class="active" {% endif %}><a href="/auth/login">Login</a></li>
        {% endif %}

        {% if not session['user']  %}
            <li {% if request.endpoint == "signup" %} class="active" {% endif %}><a href="/auth/signup">Register</a></li>
        {% endif %}
        
        <li {% if request.endpoint == "about" %} class="active" {% endif %} style="float:right"><a  href="/about">About</a></li>
        
        {% if session['user']  %}
        <li {% if request.endpoint == "dashboard" %} class="active" {% endif %}><a href="/dashboard/{{ session['user'] }}">Dashboard ({{ session['user'] }})</a></li>
        {% endif %}

        {% if session['user']  %}
            <li><a class="logout" href="/auth/logout">Logout ({{ session['user'] }})</a></li>
        {% endif %}
    
    </ul>
    {% block content %}
    {% endblock %}
</body>
</html>