{% extends 'base.html' %}
<title>{% block title %}Register {% endblock %}</title>

{% block content %}
    <h2>Register New Users</h2>
    <div id="form">
        <form class="modal-content animate" action="/auth/signup" method="post" enctype="multipart/form-data">
    
            <div class="container">
                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" id="email" required>
                <div id="emailResponse" ></div>
                <br>   

                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" id="username" required>
                <div id="usernameResponse" ></div>
                <br>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" id="password" required>
                
                <label for="psw"><b></b></label>
                <input type="password" placeholder="Repeat Password" name="repeatPassword" id="repeatPassword" required>
                <div id="passResponse" ></div>
                <br>

                <label for="image"><b>Upload Image for Bio-Hash</b></label>
                <input type="file" name="image" id="imageForSignup" required>
                
                <button type="submit" id="button" disabled ><b>Register</b></button>
    
            </div>
    
        </form>
        <div class="container" style="background-color:#f1f1f1">
            <span class="psw"> <button type="button" class="forgetButton">  <a href="/auth/login"><b>Login</b></a></button></span> 
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/static/scripts/checkPass.js"></script>
    <script src="/static/scripts/checkUser.js"></script>
    <script src="/static/scripts/checkEmail.js"></script>
{% endblock %}